In [1]:
import pandas as pd # Importamos pandas como pd
import numpy as np # Importamos numpy como np

In [2]:
# Asi podemos realizar la lectura de nuestros archivos.
pokedf_xlsx = pd.read_excel('pokemon_data.xlsx') # Si el archivo no está en el mismo folder que
# el script, tenemos que indicar el path completo.
pokedf_txt = pd.read_csv('pokemon_data.txt', delimiter='\t') # La lectura de archivos .txt se hace
# como .csv pero indicamos que el delimitador es el tabulador.

pokedf = pd.read_csv('pokemon_data.csv', index_col=0) # Trabajaremos con este archivo .csv
# index_col=0 sirve para indicarle a Pandas que el archivo csv ya cuenta con una columna
# de índices, y es la columna 0. Si no tuviera este argumento, Pandas crearía una columna
# antes de esta con los índices.

In [3]:
# El método .head() nos muestra por default las primeras 5 filas de nuestro data frame.
# Si ponemos un argumento, será el número de filas a mostrar, en este caso 3.
pokedf.head(3)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [4]:
# Veremos que Pandas nos da la oportunidad de acceder a las columnas y a los valores de las
# columnas como si fueran los atributos del data frame.
print(pokedf.columns)
print(pokedf.columns.values)
print(type(pokedf.columns.values)) # Aquí vemos que la "lista" con los nombres de las columnas
# es más bien un array de numpy (que funciona muy parecido a una lista, con las ventajas de que
# se puede trabajar con él como un vector).

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
['Name' 'Type 1' 'Type 2' 'HP' 'Attack' 'Defense' 'Sp. Atk' 'Sp. Def'
 'Speed' 'Generation' 'Legendary']
<class 'numpy.ndarray'>

In [5]:
columnas = pokedf.columns.values # Aquí creamos la variable columnas con este array de nombres de
# las columnas.

print(pokedf[columnas[0:4]]) # Aquí imprimimos el data frame indicando que solo queremos
# de la columna 0 a la 3. Recordar que escribimos 4 porque Pandas trabaja con el 4 exclusivo.

# ¿Te parece familiar? ¡Es porque usa el mismo modo de trabajo que un slicing o rebanado de
# listas o strings! :D

                      Name   Type 1  Type 2  HP
#
1                Bulbasaur    Grass  Poison  45
2                  Ivysaur    Grass  Poison  60
3                 Venusaur    Grass  Poison  80
3    VenusaurMega Venusaur    Grass  Poison  80
4               Charmander     Fire     NaN  39
..                     ...      ...     ...  ..
719                Diancie     Rock   Fairy  50
719    DiancieMega Diancie     Rock   Fairy  50
720    HoopaHoopa Confined  Psychic   Ghost  80
720     HoopaHoopa Unbound  Psychic    Dark  80
721              Volcanion     Fire   Water  80

[800 rows x 4 columns]

In [6]:
print(pokedf[columnas]) # Si lo dejáramos así, indicamos que queremos todas las columnas.

                      Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk
#
1                Bulbasaur    Grass  Poison  45      49       49       65  \
2                  Ivysaur    Grass  Poison  60      62       63       80
3                 Venusaur    Grass  Poison  80      82       83      100
3    VenusaurMega Venusaur    Grass  Poison  80     100      123      122
4               Charmander     Fire     NaN  39      52       43       60
..                     ...      ...     ...  ..     ...      ...      ...
719                Diancie     Rock   Fairy  50     100      150      100
719    DiancieMega Diancie     Rock   Fairy  50     160      110      160
720    HoopaHoopa Confined  Psychic   Ghost  80     110       60      150
720     HoopaHoopa Unbound  Psychic    Dark  80     160       60      170
721              Volcanion     Fire   Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
#
1         65     45           1      False
2         80     60           1      False
3        100     80           1      False
3        120     80           1      False
4         50     65           1      False
..       ...    ...         ...        ...
719      150     50           6       True
719      110    110           6       True
720      130     70           6       True
720      130     80           6       True
721       90     70           6       True

[800 rows x 11 columns]

In [7]:
# También podemos acceder a una columna en específico por medio del nombre de dicha columna.
# En este caso columnas.
print(pokedf[['Name', 'Attack', 'Defense']])

poke_hp = pokedf[['HP']] # Aquí creamos una variable que almacena solo la columna "HP"
print(type(poke_hp)) # Si consultamos el tipo veremos que es aún un data frame de Pandas.

poke_hp.head()

                      Name  Attack  Defense
#
1                Bulbasaur      49       49
2                  Ivysaur      62       63
3                 Venusaur      82       83
3    VenusaurMega Venusaur     100      123
4               Charmander      52       43
..                     ...     ...      ...
719                Diancie     100      150
719    DiancieMega Diancie     160      110
720    HoopaHoopa Confined     110       60
720     HoopaHoopa Unbound     160       60
721              Volcanion     110      120

[800 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>

   HP
#
1  45
2  60
3  80
3  80
4  39